@import url('../../node_modules/slim-select/dist/slimselect.css');

.body {
  padding-left: 100px;
  padding-right: 100px;
  overflow-x: hidden;
}

.info-container {
  padding-right: 100px;
  margin-left: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 1158px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  display: none;
}

.cat-info {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}


img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.error {
  text-align: center;
  font-weight: 600;
}

.breed-select {
  display: block;
  margin: 70px auto 24px;
  min-width: 300px;
}

.cat-info {
  display: flex;
  gap: 20px;
  padding: 0 10vw;
  justify-content: center;
  align-items: flex-start;
}

.textblock {
  flex-basis: 500px;
}

.sign {
  text-align: center;
  color: black;
}

.loader {
  display: inline-block;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  position: relative;
}

.loader::after {
  content: '';
  position: absolute;
  left: 50px;
  bottom: -30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid lightpink;
  border-bottom-color: #FF3D00;
  box-sizing: border-box;
  animation: rotation 0.6s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}